/*
Syntax error: Invalid CSS after "}": expected selector or at-rule, was "<<<<<<< HEAD"
        on line 2339 of ./v1.scss

2334:     }
2335:     div.submit {
2336:         margin-top: 10px;
2337:     }
2338: }
2339: <<<<<<< HEAD
2340: /* Account */
2341: body.account {
2342:     form fieldset {
2343:         input[type="text"], input[type="password"] {
2344:             width: 95%;

Backtrace:
./v1.scss:2339
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/scss/parser.rb:1010:in `expected'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/scss/parser.rb:956:in `expected'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/scss/parser.rb:28:in `parse'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/engine.rb:327:in `_to_tree'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/engine.rb:300:in `_render'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/engine.rb:247:in `render'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/plugin/compiler.rb:340:in `update_stylesheet'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `each'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/plugin/compiler.rb:298:in `watch'
/var/lib/gems/1.8/gems/listen-0.4.4/lib/listen/multi_listener.rb:86:in `call'
/var/lib/gems/1.8/gems/listen-0.4.4/lib/listen/multi_listener.rb:86:in `on_change'
/var/lib/gems/1.8/gems/listen-0.4.4/lib/listen/multi_listener.rb:95:in `initialize_adapter'
/var/lib/gems/1.8/gems/listen-0.4.4/lib/listen/adapter.rb:162:in `call'
/var/lib/gems/1.8/gems/listen-0.4.4/lib/listen/adapter.rb:162:in `poll_changed_dirs'
/var/lib/gems/1.8/gems/listen-0.4.4/lib/listen/adapters/linux.rb:44:in `start'
/var/lib/gems/1.8/gems/listen-0.4.4/lib/listen/adapters/linux.rb:44:in `initialize'
/var/lib/gems/1.8/gems/listen-0.4.4/lib/listen/adapters/linux.rb:44:in `new'
/var/lib/gems/1.8/gems/listen-0.4.4/lib/listen/adapters/linux.rb:44:in `start'
/var/lib/gems/1.8/gems/listen-0.4.4/lib/listen/multi_listener.rb:44:in `start'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/plugin/compiler.rb:306:in `watch'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/exec.rb:431:in `watch_or_update'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/exec.rb:302:in `process_result'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/var/lib/gems/1.8/gems/sass-3.1.19/bin/scss:8
/usr/local/bin/scss:19:in `load'
/usr/local/bin/scss:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected selector or at-rule, was \"<<<<<<< HEAD\"\A         on line 2339 of ./v1.scss\A \A 2334:     }\A 2335:     div.submit {\A 2336:         margin-top: 10px;\A 2337:     }\A 2338: }\A 2339: <<<<<<< HEAD\A 2340: /* Account */\A 2341: body.account {\A 2342:     form fieldset {\A 2343:         input[type=\"text\"], input[type=\"password\"] {\A 2344:             width: 95%;"; }
