{% extends "base.html" %}

{% load i18n %}

{% block body_attrs %}class="{% block body-class %}profile v1{% endblock %}"{% endblock %}

{% block main_content %}
    <div class="header">
        <a href="#edit-avatar" class="open-modal">
            <img src="{{ user_info.avatar }}" alt="{{ user_info|title }}'s avatar"/>
        </a>
        <h2>{{ user_info|title }}</h2>
        <dl class="summary">
            <dt>{% trans "Username" %}</dt>
            <dd>{{ user_info.username }}</dd>
            <dt>{% trans "Member since" %}</dt>
            <dd>{{ user_info.date_joined|date:"DATE_FORMAT" }}</dd>
            {% if user_info.homepage %}
                <dt>{% trans "Homepage" %}</dt>
                <dd><a href="{{ user_info.homepage }}">{{ user_info.homepage }}</a></dd>
            {% endif %}
        </dl>
    </div>
    <div class="grid_4 context alpha">
        <h3>
            {% trans "Bio" %}
            {% if can_edit %}
                <a class="edit open-modal" href="#edit-bio">edit</a>
            {% endif %}
        </h3>
        <p class="user_bio">
            <span id="user-biography">
                {% if user_info.biography %}
                    {{ user_info.biography|urlize|linebreaksbr }}
                {% else %}
                    <em>
                        {% if can_edit %}
                            <a href="#edit-bio" title="Edit bio" class="open-modal">{% trans "Add a bio" %}</a>
                        {% else %}
                            {{ user_info|title }} {% trans "hasn't submitted a bio yet." %}
                        {% endif %}
                    </em>
                {% endif %}
            </span>
        </p>
        {% with user_info.get_languages as langs %}
            <h3>
                {% trans "Languages" %}
                {% if can_edit %}
                    <a class="edit" id="edit-langs-profile" href="#edit-langs">edit</a>
                {% endif %}
            </h3>
            {% if langs %}
                <ul class="user-languages">
                    {% for l in langs %}
                        <li class="group preferred-language {% if l.language == user_info.preferred_language %}is-preferred{% endif %}" id="preferred-language-{{ l.language }}">
                            <span class="language">{{ l.get_language_display }}</span>
                            <span class="preferred">
                                <span>Preferred</span>
                                <a class="make-preferred" data-language="{{ l.language }}" href="{% url profiles:save_preferred_language %}">Make preferred</a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <em>
                    {% if can_edit %}
                        <a href="#edit-langs" title="Edit languages" class="open-modal">Tell us what languages you speak</a>
                    {% else %}
                        {{ user_info|title }} {% trans "hasn't selected languages yet." %}
                    {% endif %}
                </em>
            {% endif %}
        {% endwith %}
        
        {% with user_info.teams.all as user_teams %}
            <h3>
                {% trans "Teams" %}
                {% if can_edit %}
                    <a class="edit" href="{% url teams:user_teams %}">edit</a>
                {% endif %}
            </h3>
            {% if user_teams %}
                <ul>
                    {% for t in user_teams %}
                    <li>
                        <a href="{% url teams:detail slug=t.slug %}">{{ t }}</a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <em>
                    {% if can_edit %}
                        <a href="{% url teams:index %}">{% trans "Join a volunteer team" %}</a>
                    {% else %}
                        {{ user_info|title }} {% trans "hasn't joined any teams yet." %}
                    {% endif %}
                </em>
            {% endif %}
        {% endwith %}
    </div>

    {% block view_content %}{% endblock %}

    {% if can_edit %}
        <div class="bootstrap">
            <div class="modal" id="edit-avatar" style="display: none">
                <form action="{% url profiles:edit_avatar %}" class="edit-profile-bio" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <a href="#" class="close">x</a>
                        <h3>{% trans 'Edit your picture' %}</h3>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        {% csrf_token %}
                        <input type="submit" class="btn danger pull-left" value="Delete picture" />
                        <input type="submit" class="btn primary pull-right" value="Save" />
                    </div>
                </form>
            </div>
            <div class="modal" id="edit-bio" style="display: none">
                <form action="{% url profiles:save_bio %}" class="edit-profile-bio" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <a href="#" class="close">x</a>
                        <h3>{% trans 'Edit your bio' %}</h3>
                    </div>
                    <div class="modal-body">
                        <textarea name="bio">{{ request.user.customuser.biography }}</textarea>
                    </div>
                    <div class="modal-footer">
                        {% csrf_token %}
                        <input type="submit" class="btn primary" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
